@import "/components/base/background/assets/index.css";

html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: wljh;
  src: url(/fonts/wljh.ttf);
}

:root {
  --color: var(--m-color-text);
  --year-color: rgba(0, 0, 0, 0.15);
  --m-active-text-color: var(--m-color-main);
  --m-header-h: 2.4rem;
  --m-main-h: calc(100vh - var(--m-header-h));

  --m-rice-paper-warm: url(/components/base/background/assets/img/rice-paper-warm.webp);
  --m-rice-paper: url(/components/base/background/assets/img/rice-paper.webp);
}


html {
  color: var(--color);
  font-family: wljh;
}

html[dark] {
  --color: white;
  --year-color: rgba(255, 255, 255, 0.1);
  --m-active-text-color: var(--m-color-pink);
}

body {
  font-size: 1.4rem;
}


.m-header {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem 0.8rem;
  height: var(--m-header-h);

  .m-dark-mode {
    --dark-mode-h: 24px;
    --dark-mode-w: 24px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}

.default-layout-dark-mode {
  animation: rotate 30s linear infinite;
}

.slogan {
  writing-mode: vertical-rl;
  font-size: 1.8rem;
  line-height: 3.6rem;

  text-shadow: 0 0 2px var(--color);
}

.slogan-second {
  margin-top: 16rem;
}

.blog-item {
  .m-li {
    margin-bottom: 1.2rem;
    margin-left: 1rem
  }
}

.blog-detail-content {
  img {
    max-width: calc(100vw - 4rem);
  }
}
